[Desktop Entry]
Version=1.0
Type=Application
Name=PingCCXPool
Comment=Application to ping CCX pools (vVERSION_X)
Path=/usr/bin
Exec=PingCCXPool
Icon=PingCCXPool
Terminal=false
Categories=Network;Utility; 